<%- include('../layout/userheader') %>

<main class="main">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
          <div class="breadcrumb">
              <a href="/" rel="nofollow">Home</a>
              <span></span> Pages
              <span></span> Wishlist
          </div>
      </div>
  </div>
  
  <section class="mt-50 mb-50">
      <div class="container">
          <div class="row">

            <div class="card" style="width: 18rem;">
              <img src="../../public/assets/imgs/productIMG/1709124894764-0de60292-56a2-4369-a736-836f4411d19a.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
              
                          
                                  
                              
  </section>
</main>








